nod-red-flow.txt
[{"id":"664280ae.ed92a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65f44e40.c3617","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Panel de Control","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"acaf2e9c.0f9ae","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"ff55cdc3.fc25e","type":"ui_group","name":"Group 3","tab":"acaf2e9c.0f9ae","order":1,"disp":true,"width":6},{"id":"bbc46c7f.70434","type":"ui_group","name":"Group 4","tab":"acaf2e9c.0f9ae","order":2,"disp":true,"width":6},{"id":"2342d159.e567ae","type":"ui_group","name":"Group 5","tab":"acaf2e9c.0f9ae","order":3,"disp":true,"width":6},{"id":"14c979a0.33c086","type":"ui_group","name":"Group 6","tab":"acaf2e9c.0f9ae","order":4,"disp":true,"width":6},{"id":"a9919967.8b2008","type":"ui_group","name":"Group 7","tab":"acaf2e9c.0f9ae","order":5,"disp":true,"width":6},{"id":"1df45679.100efa","type":"ui_group","name":"Group 9","tab":"acaf2e9c.0f9ae","order":6,"disp":true,"width":6},{"id":"6c4995fa.91632c","type":"ui_group","z":0,"name":"GroupLogout","tab":"995b8560.2b20d8","order":5,"disp":false,"width":"4","collapse":false},{"id":"aec4d451.a5ac58","type":"ui_group","z":"","name":"Relay 1","tab":"995b8560.2b20d8","order":1,"disp":true,"width":"4","collapse":false},{"id":"2a2c64f8.015ffc","type":"ui_group","z":"","name":"Relay 2","tab":"995b8560.2b20d8","order":4,"disp":true,"width":"4","collapse":false},{"id":"736dc018.36c0c","type":"ui_group","z":"","name":"Group1","tab":"995b8560.2b20d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"995b8560.2b20d8","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":1},{"id":"d75aaaa3.752ed8","type":"mqtt-broker","z":"","name":"Server WG","broker":"190.210.221.112","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c6e87.3094c17a","type":"websocket-listener","z":"","path":"190.210.221.112","wholemsg":"true"},{"id":"86e66781.8351d8","type":"websocket-client","z":"","path":"http://190.210.221.112:5014","tls":"","wholemsg":"false"},{"id":"e8795ee4.e40ae","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"bfc48a6f.3d2618","type":"ui_group","z":"","name":"Group 1","tab":"e8795ee4.e40ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"f04f790b.a727c8","type":"websocket-listener","z":"","path":"/ws/190.210.221.112:5014","wholemsg":"false"},{"id":"5c69686f.9e9d08","type":"change","z":"664280ae.ed92a","name":"Muda payload para ir para controles","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Home_Group1\"],\"show\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":140,"wires":[["a60a0987.e4de48"]]},{"id":"5eee381.b3af1c8","type":"switch","z":"664280ae.ed92a","name":"Redireciona pós login","property":"payload.login","propertyType":"msg","rules":[{"t":"regex","v":"correto","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":542.5,"y":142.25,"wires":[["5c69686f.9e9d08"],[]]},{"id":"481582c6.0ca96c","type":"function","z":"664280ae.ed92a","name":"checkLogin","func":"if(msg.payload.login == 'admin' && msg.payload.password == 'enanitos3504')\n{\n    var log = msg.payload.login;\n    var pwd = msg.payload.password;\n    \n    msg.payload.login = 'correto';\n    msg.payload.password = 'correto';\n    return msg;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290.5,"y":142.25,"wires":[["5eee381.b3af1c8"]]},{"id":"a60e0655.e88778","type":"function","z":"664280ae.ed92a","name":"ParserToLabelR1","func":"if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}","outputs":1,"noerr":0,"x":338.49999618530273,"y":594.1666746139526,"wires":[["85796316.50c12"]]},{"id":"58121caa.ae3a44","type":"function","z":"664280ae.ed92a","name":"ParserToLabelR2","func":"if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}","outputs":1,"noerr":0,"x":430.833309173584,"y":1201.6666259765625,"wires":[["587bc28d.27822c"]]},{"id":"aca537fe.0e43a8","type":"change","z":"664280ae.ed92a","name":"Muda payload para ir para controles","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Home_Group1\"],\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":748.5,"y":283.5,"wires":[["a60a0987.e4de48"]]},{"id":"39482d45.7df9f2","type":"comment","z":"664280ae.ed92a","name":"Formulario de Login","info":"Formulario contendo os campo de de usuario e senha \npara autenticação.\n\nSe login correto: manda comando para o UI_CONTROL \n    esconder o formulário e mostrar os controles\n    dos relés;\n    \nSe login incorreto: apenas limpa o formulário;\n","x":419,"y":102.25,"wires":[]},{"id":"df38e068.2ad49","type":"comment","z":"664280ae.ed92a","name":"Sinal de que abriu no browser","info":"Quando a página do node red é aberta no browser \n(pela primeira vez) esse bloco dispara um sinal \npara então o UI_CONTROL esconder os blocos de \ncontrole  e mostrar o de login.\n\n\n-Isso é necessário porque não temos como esconder\nwidgets por padrão, apenas por meio de código.","x":483.5,"y":245.25,"wires":[]},{"id":"53f54ba5.5acca4","type":"comment","z":"664280ae.ed92a","name":"LOGOUT","info":"Evento de logout, esconderá as widgets de controle e \nmostrará o formulário de Login.","x":782.1666564941406,"y":384.2500114440918,"wires":[]},{"id":"91e2b253.26f19","type":"comment","z":"664280ae.ed92a","name":"Status Inicial do relé","info":"Ao abrir a página no browser, esse sinal é enviado\npara o PARSER setar a fução do STATUS_RELÉ como OFF.","x":365.4999771118164,"y":377.58335304260254,"wires":[]},{"id":"262a7ff2.78cf1","type":"function","z":"664280ae.ed92a","name":"configureCommandTypeR1","func":"\nmsg.eventOrCommandType = 'commandR1';\nreturn msg;","outputs":1,"noerr":0,"x":709.2897186279297,"y":696.2945032119751,"wires":[["73473515.91b40c"]]},{"id":"712f193f.6837d8","type":"function","z":"664280ae.ed92a","name":"configureCommandTypeR2","func":"\nmsg.eventOrCommandType = 'commandR2';\nreturn msg;","outputs":1,"noerr":0,"x":715.2839508056641,"y":902.2746829986572,"wires":[["483f43da.fb7ddc"]]},{"id":"fb76f49f.4eaf78","type":"ui_button","z":"664280ae.ed92a","name":"Logout","group":"6c4995fa.91632c","order":4,"width":"0","height":"0","passthru":false,"label":"Logout","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"],\"show\":[\"Home_Group1\"]}}","payloadType":"json","topic":"","x":750.7500114440918,"y":428.50000381469727,"wires":[["a60a0987.e4de48"]]},{"id":"d46e0d5b.5f9bd","type":"ui_button","z":"664280ae.ed92a","name":"R1_ON","group":"aec4d451.a5ac58","order":1,"width":"2","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"value\":1}","payloadType":"json","topic":"","x":60.5,"y":631.9166707992554,"wires":[["a60e0655.e88778","262a7ff2.78cf1"]]},{"id":"f4b2a63c.b76c38","type":"ui_button","z":"664280ae.ed92a","name":"R2_OFF","group":"2a2c64f8.015ffc","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"value\":0}","payloadType":"json","topic":"","x":86.08327865600586,"y":1171.9165906906128,"wires":[["58121caa.ae3a44","712f193f.6837d8"]]},{"id":"c05df8c4.52cd08","type":"ui_button","z":"664280ae.ed92a","name":"R1_OFF","group":"aec4d451.a5ac58","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"value\":0}","payloadType":"json","topic":"","x":56.5,"y":777.9166707992554,"wires":[["a60e0655.e88778","262a7ff2.78cf1"]]},{"id":"fd8387d.11b8c78","type":"ui_button","z":"664280ae.ed92a","name":"R2_ON","group":"2a2c64f8.015ffc","order":1,"width":"2","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"value\":1}","payloadType":"json","topic":"","x":89.08327865600586,"y":1035.9165906906128,"wires":[["58121caa.ae3a44","712f193f.6837d8"]]},{"id":"e110bca4.9efa","type":"ui_form","z":"664280ae.ed92a","name":"formlogin","label":"","group":"736dc018.36c0c","order":2,"width":"0","height":"0","options":[{"label":"Login","value":"login","type":"text","required":true},{"label":"Senha","value":"password","type":"password","required":true}],"formValue":{"login":"","password":""},"payload":"","submit":"","cancel":"","topic":"","x":75.5,"y":142.25,"wires":[["481582c6.0ca96c"]]},{"id":"85796316.50c12","type":"ui_text","z":"664280ae.ed92a","group":"aec4d451.a5ac58","order":3,"width":"2","height":"1","name":"StatusRelay1","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":567.7499923706055,"y":596.1666584014893,"wires":[]},{"id":"587bc28d.27822c","type":"ui_text","z":"664280ae.ed92a","group":"2a2c64f8.015ffc","order":3,"width":"2","height":"1","name":"StatusRelay2","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":637.3332290649414,"y":1201.1666450500488,"wires":[]},{"id":"39e2d0db.93f31","type":"ui_template","z":"664280ae.ed92a","group":"736dc018.36c0c","name":"","order":0,"width":0,"height":0,"format":"<script>\n(function() {\n    var count = 0\n    function testit(msg,scope) {\n        count = count+1;\n        console.log(\"In testit \" + msg.payload + \"  count = \" + count);\n        scope.send({payload: \"from testit \" + msg.payload + \"  count = \" + count});\n    }\n    \n    (function(scope) {\n        scope.send({payload: \"preload\"});   // this gets sent when the view is opened in the browser\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                testit(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":306,"y":282.5,"wires":[["aca537fe.0e43a8","a60e0655.e88778","58121caa.ae3a44"]]},{"id":"a60a0987.e4de48","type":"ui_ui_control","z":"664280ae.ed92a","name":"","x":1102.75,"y":287.25,"wires":[[]]},{"id":"73473515.91b40c","type":"mqtt out","z":"664280ae.ed92a","name":"","topic":"r1","qos":"","retain":"","broker":"d75aaaa3.752ed8","x":1110,"y":720,"wires":[]},{"id":"483f43da.fb7ddc","type":"mqtt out","z":"664280ae.ed92a","name":"","topic":"r2","qos":"","retain":"","broker":"d75aaaa3.752ed8","x":1100,"y":880,"wires":[]},{"id":"bb489026.39c52","type":"ui_switch","z":"664280ae.ed92a","name":"","label":"Relé 2","group":"2a2c64f8.015ffc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":100,"y":1280,"wires":[["712f193f.6837d8","58121caa.ae3a44"]]},{"id":"1024ecf3.f98aa3","type":"ui_switch","z":"664280ae.ed92a","name":"","label":"Relé 1","group":"aec4d451.a5ac58","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"value\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"value\":0}","offvalueType":"json","officon":"","offcolor":"","x":100,"y":860,"wires":[["a60e0655.e88778","262a7ff2.78cf1"]]}]